body {
  background: #282828;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 60px;
  background: #1e1e1e;
}

.header__logo {
  width: 180px;
  padding: 9px 10px;
}

#login {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background: url("../images/login_bg.png");
  background-size: cover;
}

.logintext {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 60%;
  max-width: 840px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.loginbox {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  max-width: 730px;
  height: 100%;
  padding-top: 100px;
  background: #262626;
}

.loginbox__area {
  width: 500px;
  margin: 0px auto 0;
}

.loginbox__simbol {
  margin-bottom: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 38px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.loginbox__simbol h2 {
  font-weight: normal;
}

.loginbox__form {
  color: #ffffff;
}

.loginbox__form .box_login_ipt {
  margin-bottom: 30px;
}

.loginbox__form .i_label {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  color: #ffffff;
}

.loginbox__form input[type='text'], .loginbox__form input[type='password'] {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  background: #313131;
  border-radius: 5px;
  border: 1px solid #727272;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}

.loginbox__form .btn_login input {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  border-radius: 4px;
  background: #f57637;
  color: #ffffff;
  font-size: 20px;
}

.top {
  position: relative;
  width: 100%;
  height: 45px;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
  background: #303030;
}

.top__title {
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}

.top__user {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  color: #b4b4b4;
}

.top__user .message {
  float: left;
}

.top__user .btn__logout {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin-left: 8px;
  line-height: 25px;
  border-radius: 4px;
  border: 1px solid #707070;
  text-align: center;
  font-size: 12px;
  color: #707070;
}

.top__user .btn__logout:hover {
  background: #2a2a2a;
  color: #989898;
}

#content {
  padding: 10px;
}

#content .boxmodel {
  padding: 10px;
}

#content .boxmodel h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #989898;
}

#content .boxmodel .time {
  float: right;
  margin-top: 8px;
}

#content .boxmodel .time .btn__refresh {
  float: right;
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

#content .boxmodel .time .btn__refresh:before {
  position: absolute;
  top: 0px;
  font-family: 'ecurations';
  content: '\e920';
  color: #565656;
}

#content .left {
  position: relative;
  float: left;
  width: 275px;
  height: calc(100vh - 125px);
  padding-right: 5px;
}

#content .left__btn--close {
  position: absolute;
  right: -25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 80px;
  line-height: 70px;
  padding: 5px;
  color: #303030;
  word-break: break-all;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: -webkit-gradient(linear, 220% 20%, 20% 20%, from(#000000), to(#303030));
  z-index: 300;
}

#content .left__btn--close:after {
  font-family: 'ecurations';
  content: '\e904';
  color: #ffffff;
  font-size: 11px;
}

#content .left__btn--close.open:after {
  font-family: 'ecurations';
  content: '\e905';
  font-size: 11px;
}

#content .left__live {
  overflow: hidden;
  background: #313131;
  margin-bottom: 10px;
}

#content .left__count {
  padding: 10px;
  background: #232323;
}

#content .left__count--title {
  color: #ffffff;
  font-size: 15px;
}

#content .left__count--number {
  text-align: right;
  color: #8b8b8b;
}

#content .left__count--number span {
  color: #f57637;
  font-size: 22px;
  font-weight: bold;
}

#content .left .w50 {
  float: left;
  width: 122px;
  margin-top: 5px;
}

#content .left .fr {
  float: right;
}

#content .left__status {
  overflow: hidden;
  height: calc(100vh - 365px);
  background: #313131;
}

#content .left__status .status_wrap {
  height: calc(100vh - 365px - 85px);
  overflow-y: auto;
}

#content .left__status .status {
  display: block;
  padding: 9px;
  margin-bottom: 5px;
  background: #232323;
}

#content .left__status .status ul {
  overflow: hidden;
  display: block;
  width: 100%;
}

#content .left__status .status ul li {
  float: left;
}

#content .left__status .status__stars {
  float: left;
  width: 11px;
  margin-right: 10px;
  line-height: 1;
  color: #ee165f;
}

#content .left__status .status__title {
  float: left;
  line-height: 42px;
  color: #ffffff;
  font-size: 15px;
}

#content .left__status .status__number {
  float: right !important;
  line-height: 42px;
  color: #8b8b8b;
}

#content .left__status .status__number span {
  font-size: 18px;
  color: #f57637;
  font-weight: bold;
}

#content .left__status .status:hover {
  background: #f08933;
  color: #ffffff;
}

#content .left__status .status:hover .status__title {
  color: #2a2a2a;
  font-weight: bold;
}

#content .left__status .status:hover .status__number {
  color: #2a2a2a;
}

#content .left__status .status:hover .status__number span {
  font-size: 18px;
  color: #232323;
  font-weight: bold;
  color: #ffffff;
}

#content .left__status .status.active {
  background: #f08933;
  color: #ffffff;
}

#content .left__status .status.active .status__title {
  color: #2a2a2a;
  font-weight: bold;
}

#content .left__status .status.active .status__number {
  color: #1e1e1e;
}

#content .left__status .status.active .status__number span {
  font-size: 18px;
  color: #232323;
  font-weight: bold;
  color: #ffffff;
}

#content .center {
  float: left;
  width: calc(100% - 745px);
  height: calc(100vh - 125px);
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#content .center .article {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #303030;
}

#content .center .article h3 {
  float: left;
  margin-bottom: 10px;
  color: #989898;
  font-size: 18px;
}

#content .center .article .datalist {
  clear: both;
  width: 100%;
  height: calc(100vh - 210px);
  overflow-y: auto;
  background: #282828;
}

#content .center .article .datalist__type {
  position: absolute;
  right: 10px;
  top: 0;
}

#content .center .article .datalist__type--list, #content .center .article .datalist__type--thumb, #content .center .article .datalist__type--map {
  display: inline-block;
}

#content .center .article .datalist__type--map a {
  font-size: 17px;
}

#content .center .article .datalist__type a {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 46px;
  color: #5a5a5a;
}

#content .center .article .datalist__type ul li.select a {
  color: #ffffff;
  background: #249f87;
}

#content .center .article .datalist th, #content .center .article .datalist td {
  padding: 8px;
  color: #8b8b8b;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  word-break: keep-all;
  border-bottom: 1px solid #414141;
}

#content .center .article .datalist th {
  background: #232323;
  color: #ffffff;
}

#content .center .article .datalist tr:hover td {
  background: #249f87;
  color: #ffffff;
}

#content .center .article .datalist .itemlist > li {
  float: left;
  width: 25%;
  height: calc( (100vh - 210px) / 4);
  padding-right: 5px;
  padding-bottom: 5px;
}

#content .center .article .datalist .itemlist > li:nth-child(4n) {
  padding-right: 0;
}

#content .center .article .datalist .itemlist > li:nth-child(n+13) {
  padding-bottom: 0;
}

#content .center .article .datalist .itemlist > li .item {
  display: block;
  width: 100%;
  height: 100%;
}

#content .center .article .datalist .itemlist > li .item__title {
  width: 100%;
  height: 25px;
  padding: 6px;
  background: #000000;
  font-size: 11px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#content .center .article .datalist .itemlist > li .item__title--name {
  float: left;
}

#content .center .article .datalist .itemlist > li .item__title--event {
  float: right;
}

#content .center .article .datalist .itemlist > li .item__image {
  width: 100%;
  height: calc( ( (100vh - 210px) / 4 ) - 30px);
  border: 3px solid #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#content .center .article .datalist .itemlist > li .item__image img {
  width: 100%;
  height: 100%;
}

#content .center .article .datalist .itemlist > li .item:hover .item__title {
  background: #249f87;
}

#content .center .article .datalist .itemlist > li .item:hover .item__image {
  border-color: #249f87;
}

#content .center .article .datalist .itemlist > li .importance2 .item__title {
  width: 100%;
  height: 25px;
  padding: 6px;
  background: #fc913a;
  font-size: 11px;
  color: #ffffff;
}

#content .center .article .datalist .itemlist > li .importance2 .item__title .item__title--name {
  float: left;
}

#content .center .article .datalist .itemlist > li .importance2 .item__title .item__title--event {
  float: right;
}

#content .center .article .datalist .itemlist > li .importance2 .item__image {
  width: 100%;
  border: 3px solid #fc913a;
}

#content .center .article .datalist .itemlist > li .importance2 .item__image img {
  width: 100%;
  height: 100%;
}

#content .center .article .datalist .itemlist > li .importance3 .item__title {
  width: 100%;
  height: 25px;
  padding: 6px;
  background: #f94e3f;
  font-size: 11px;
  color: #ffffff;
}

#content .center .article .datalist .itemlist > li .importance3 .item__title .item__title--name {
  float: left;
}

#content .center .article .datalist .itemlist > li .importance3 .item__title .item__title--event {
  float: right;
}

#content .center .article .datalist .itemlist > li .importance3 .item__image {
  width: 100%;
  border: 3px solid #f94e3f;
}

#content .center .article .datalist .itemlist > li .importance3 .item__image img {
  width: 100%;
  height: 100%;
}

#content .center .article .datalist .itemlist > li .selected .item__title {
  background: #249f87;
}

#content .center .article .datalist .itemlist > li .selected .item__image {
  border-color: #249f87;
}

#content .center .article .datalist .map {
  width: 100%;
  position: relative;
  z-index: 1;
}

#content .center .article .datalist .map__event {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: rgba(235, 121, 25, 0.5);
  z-index: 200;
  text-align: center;
  line-height: 95px;
  letter-spacing: -2px;
}

#content .center .article .datalist .map__event--count {
  display: inline-block;
  width: 71px;
  height: 71px;
  font-size: 22px;
  line-height: 71px;
  color: #ffffff;
  border-radius: 71px;
  background: #f08933;
  opacity: 1 !important;
  z-index: 201;
}

#content .leftnone_center {
  width: calc(100vw - 495px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content .rightnone_center {
  width: calc(100vw - 300px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content .leftnone_center.rightnone_center {
  width: calc(100vw - 30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content .right {
  position: absolute;
  top: 115px;
  right: 10px;
  width: 470px;
  height: calc(100vh - 125px);
  padding-left: 5px;
}

#content .right__btn--close {
  position: absolute;
  left: -5px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 80px;
  line-height: 70px;
  padding: 5px;
  color: #303030;
  word-break: break-all;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: -webkit-gradient(linear, 90% -200%, -200% -200%, from(#303030), to(#000000));
  z-index: 300;
}

#content .right__btn--close:after {
  font-family: 'ecurations';
  content: '\e905';
  color: #ffffff;
  font-size: 11px;
}

#content .right__btn--close.open:after {
  font-family: 'ecurations';
  content: '\e904';
  font-size: 11px;
}

#content .right .detail {
  overflow-y: auto;
  background: #303030;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#content .right .detail h3 {
  float: left;
  margin-bottom: 10px;
  color: #989898;
  font-size: 18px;
}

#content .right .detail .tinytable {
  clear: both;
  background: #282828;
  min-height: 250px;
}

#content .right .detail .tinytable table th, #content .right .detail .tinytable table td {
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  color: #dfdfdf;
  text-align: center;
  word-break: keep-all;
  border-bottom: 1px solid #414141;
}

#content .right .detail .tinytable table th {
  background: #232323;
  color: #ffffff;
}

#content .right .detail .tinytable table tr:hover td {
  background: #249f87;
  color: #ffffff;
}

#content .right .detail .tinytable2 {
  clear: both;
  background: #282828;
  min-height: 250px;
}

#content .right .detail .tinytable2 table th, #content .right .detail .tinytable2 table td {
  padding: 5px 5px;
  font-weight: normal;
  font-size: 12px;
  color: #dfdfdf;
  text-align: left;
  word-break: keep-all;
  border-bottom: 1px solid #414141;
}

#content .right .detail .tinytable2 table th {
  background: #232323;
  color: #ffffff;
}

#content .right .detail .datalist {
  position: relative;
  clear: both;
  width: 100%;
  overflow-y: auto;
  background: #282828;
}

#content .right .detail .datalist table {
  width: 100%;
}

#content .right .detail .datalist th, #content .right .detail .datalist td {
  padding: 8px;
  color: #8b8b8b;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
  word-break: keep-all;
  border-bottom: 1px solid #414141;
}

#content .right .detail .datalist th {
  background: #232323;
  color: #ffffff;
}

@media (max-width: 1279px) {
  body {
    min-width: 1024px;
  }
  .logintext {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 50%;
  }
  .loginbox__area {
    width: 400px;
    margin: 0px auto;
  }
  .loginbox__simbol {
    margin-bottom: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
  }
  .article .datalist {
    width: 100%;
    overflow-x: auto;
  }
  .article .datalist table {
    width: 650px;
  }
  .article .datalist .itemlist > li .item__title {
    font-size: 10px !important;
  }
  .article .datalist .itemlist > li .item__title--event {
    display: none;
  }
}
/*# sourceMappingURL=layout.css.map */