@charset 'UTF-8';
@import url(reset.css);
@import url(style.css);
$bgColor:#282828;
$areaColor:#303030;
$areaColor2:#313131;
$primaryColor:#f08933;
$secondaryColor:#249f87;
$warningColor:#ee165f;
$primaryHover:#f57637;
$headBackground:#232323;
$ableColor:#464646;
$disableColor:#2a2a2a;
//폰트관련
$titleColor:#989898;
$fontWhite:#ffffff;
$fontData:#8b8b8b;
//인풋
$selectColor:#b0b1b3;
$selectDisable:#575757;

@mixin iconFont {
  font-family:'ecurations';
}
@font-face {
  font-family:'ecurations';
  src:url('../fonts/ecurations.eot?r8r6ve');
  src:url('../fonts/ecurations.eot?r8r6ve#iefix') format('embedded-opentype'),
  url('../fonts/ecurations.ttf?r8r6ve') format('truetype'),
  url('../fonts/ecurations.woff?r8r6ve') format('woff'),
  url('../fonts/ecurations.svg?r8r6ve#ecurations') format('svg');
  font-weight:normal;
  font-style:normal;
}

[class^='icon-'],[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:'ecurations' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
// 스크롤바커스터마이징
::-webkit-scrollbar {
  width:8px;
}
::-webkit-scrollbar-track {
  background-color:#313131;
}
::-webkit-scrollbar-thumb {
  background-color:#282828;
  border-radius:6px;
}
::-webkit-scrollbar-thumb:hover {
  background:#282828;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
  width:16px;
  height:16px;
  background:#2d2d2d;
} 

// 인풋스타일
.input__txt {
  width:100%;
  padding:5px;
  background:$ableColor;
  color:#ffffff;
}
.inputarea {
  width: 100%;
  margin-top: 20px;
  .label {
    display:block;
    margin-bottom: 5px;
    color: $fontWhite;    
  }  
  &__select {
    position: relative;
    border:1px solid $selectColor;
    &:after {
      position:absolute;
      @include iconFont();
      content:'\e905';
      transform:rotate(90deg);
      color:$selectColor;
      right:15px;
      top:10px;
      font-size:10px;
    }
  }
  &__calendar {
    display: inline-block;
    position: relative;
    width: 90%;
    border:1px solid $selectColor;
    .btn_cal {
      position: absolute;
      right: 0;
      top: 0;
      width: 35px;
      height: 35px;
      &:after {
        @include iconFont();
        content: '\e907';
        color: $selectColor;
      }
    }
  }
  .datetxt{
    color: $selectColor;
  }
  &__date {
    position: relative;
    border:1px solid $selectColor;
    display: inline-block;    
    select {
      font-size: 13px;
    }
    &:after {
      position:absolute;
      @include iconFont();
      content:'\e905';
      transform:rotate(90deg);
      color:$selectColor;
      right:10px;
      top:10px;
      font-size:10px;
    }
  }
  .year {
    width: 70px;
    margin-bottom: 5px;
  }
  .month,
  .date {
    width: 50px;
    margin-bottom: 5px;
  }
  &__text {
    display: inline-block;
    position: relative;
    width: 100%;
    border:1px solid $selectColor;
  }
  .from {
    padding: 0 5px;
    color: $selectColor;    
  }
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:100%;        
    margin:0;
    padding:8px 10px;
    border:0;
    background:$areaColor;
    color:$selectColor;
    z-index:200;
    &::-ms-expand {
      display:none; /*IE10*/
    }
  }
  input[type='text'] {
    width: 100%;
    padding: 7px 10px;
    background: none;
    color: $selectColor;
  }
}

.modal__contents {  
  .left {
    float:left;
  }
  .right {
    float:right;
    margin-left: 30px;
  }
  .inputarea {
    width: 300px;
    height: 80px;
    margin-top: 0;
    em {
      font-size: 11px;      
    }
    .label {
      color: #959595;            
    }
    &__text {
      display: inline-block;
      position: relative;
      width: 100%;
      border: 0;
      background: #404040;
      .icon-check {
        position: absolute;
        right: 10px;
        top:10px;
      }
      .icon-check.good {
        color: #1F9F57;
      }
      .icon-warning {
        position: absolute;
        right: 10px;
        top:10px;
      }
      .icon-warning.wrong {
        color: #E84B4B;
      }
    }
    &__text input[type='text'].disable {
      background: #2A2A2A;
      color: #848484;
    }
    &__text input[type='text'].check {
      width: 80%;
      float:left;
    }
    &__text input[type='text'].check + a {
      float:right;
      width: 20%;
      height: 33px;
      text-align: center;
      line-height: 33px;
      background: #5A5A5A;
      color: #ffffff;
      font-size: 11px;
      &:hover{
        background: #535353;
      }
    }
    input[type='text'],
    input[type='password'] {
      &:focus {
        background: #4d4d4d;
      }
    }
    &__select {
      border: 0;
      select {
        padding: 7px 10px;
        background: #404040;
      }
    }
    input[type='text'] {
      width: 100%;
    }
    input[type='password'] {
      width: 100%;
      padding: 7px 10px;
      background: none;
      color: $selectColor;
    }
    label {
      margin-right: 20px;
      color: #959595;
    }
  }
}

.modal.size2 {
  width: 500px;
}
.size2 {
  .modal__contents {  
    .left {
      float:none;
      margin: 0 auto;
    }
    .inputarea {
      width: 450px;
      height: 55px;
      margin-top: 0;
      em {
        font-size: 11px;      
      }
      .label {
        float:left;
        width: 150px;
        height: 33px;
        line-height: 33px;
        color: #959595;
        text-align: right;
        padding-right: 10px;
      }
      &__text {
        display: inline-block;
        position: relative;
        width: 300px;
        border: 0;
        background: #404040;
        .icon-check {
          position: absolute;
          right: 10px;
          top:10px;
        }
        .icon-check.good {
          color: #1F9F57;
        }
        .icon-warning {
          position: absolute;
          right: 10px;
          top:10px;
        }
        .icon-warning.wrong {
          color: #E84B4B;
        }
      }
      &__text input[type='text'].disable {
        background: #2A2A2A;
        color: #848484;
      }
      &__text input[type='text'].check {
        width: 80%;
        float:left;
      }
      &__text input[type='text'].check + a {
        float:right;
        width: 20%;
        height: 33px;
        text-align: center;
        line-height: 33px;
        background: #5A5A5A;
        color: #ffffff;
        font-size: 11px;
        &:hover{
          background: #535353;
        }
      }
      input[type='text'],
      input[type='password'] {
        &:focus {
          background: #4d4d4d;
        }
      }
      &__select {
        border: 0;
        select {
          padding: 7px 10px;
          background: #404040;
        }
      }
      input[type='text'] {
        width: 100%;
      }
      input[type='password'] {
        width: 100%;
        padding: 7px 10px;
        background: none;
        color: $selectColor;
      }
      label {
        margin-right: 20px;
        color: #959595;
      }
    }
  }  
}
// 설정 인풋스타일
.option {
  width: 800px;
  overflow-x:auto;
  .inputarea {
    width: 600px;
    height: 80px;
    margin-top: 0;
    em {
      float:left;
      margin-top: 3px;
      font-size: 12px;
      color: #757575;
      text-align: left;      
    }
    .label {
      float:left;
      width: 150px;
      line-height: 33px;
      color: #959595;      
    }
    &__text {
      float:left;
      position: relative;
      width: 450px;
      border: 0;
      background: #404040;  
    }
    input[type='text'],
    input[type='password'] {
      &:focus {
        background: #4d4d4d;
      }
    }
    .input {
      height: 33px;
      line-height: 33px;
    }
    &__select {
      float:left;
      width: 450px;
      border: 0;
      select {
        width: 100%;
        padding: 7px 10px;
        background: #404040;
      }
    }
    &__file {
      position: relative;
      float:left;
      width: 450px;
      height: 33px;
      line-height: 29px;
      background: #404040;
      border: 0;
      > label {
        display: inline-block;
        text-align: center;
        margin-right: 0;        
        width: 80px;
        height: 29px;
        margin-top: 2px;
        background: #2a2a2a;
      }
      input[type='file'] {
        width: 100%;
        height: 27px;
        padding: 0;
        position: absolute;
        overflow: hidden;
        border: 0;
        left: 3px;
        top: 3px;
        color: #b0b1b3;
      }
    }
    input[type='text'] {
      width: 100%;
    }
    label {
      margin-right: 20px;
      color: #959595;
    }
  }
}  

// 버튼스타일
.btn__right {
  width:100%;
  margin-top:10px;
  text-align:right;
}
.btn__small {
  display:inline-block;
  min-width:80px;
  height:28px;
  line-height:28px;
  color:#ffffff;
  text-align:center;
  font-size:12px;
  transition:all 0.5s;
  &--save {
    background:#5a5a5a;
    &:hover {
      background:$secondaryColor;
      color:#ffffff;
    }
  }
}
.btnarea {
  clear: both;
  display:block;
  width:100%;
  a[class^='btn__'] {
    display:inline-block;
    text-align:center;
    border-radius:4px;
    transition:all 0.3s;
  }
  a[class^='btn__'] + a[class^='btn__'] {
    margin-left: 10px;
  }
  .btn__ {
    &submit {      
      width: 80px;
      height: 30px;
      line-height: 29px;
      color: #ffffff;
      font-size: 14px;
      background: $primaryColor;
      &:hover {
        background: $primaryHover;
      }
    }
    &cancle {
      width: 80px;
      height: 30px;
      line-height: 29px;
      color: #ffffff;
      font-size: 14px;
      background: #5a5a5a;
      &:hover {
        background: #535353;
      }
    }
    &border {
      min-width: 80px;
      height: 30px;
      padding: 0 5px;
      line-height: 30px;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      font-size: 14px;
    }
    &check {
      height:25px;
      padding: 0 10px;
      line-height:24px;
      color:$secondaryColor;
      border:1px solid $secondaryColor;
      font-size:11px;
      i {
        margin-top: 1px;
        margin-right:5px;
        font-size: 11px;
      }
      &:hover {
        background:$secondaryColor;
        color:#ffffff;
      }
    }
    &primary {
      height: 25px;
      line-height: 25px;
      background: $primaryColor;
      font-size:12px;
      color: #ffffff;
      min-width: 50px;
      padding:0 10px;
    }
    &normal {
      height: 25px;
      line-height: 25px;
      background: $selectDisable;      
      font-size:12px;
      color: #ffffff;
      min-width: 50px;
      padding:0 10px;
    }
    &big--orange {
      width: 100%;
      height: 45px;
      margin-top: 20px;
      background: $primaryColor;
      color: $fontWhite;
      font-size: 16px;
      line-height: 45px;
      &:hover {
        background: $primaryHover;
      }
    }
    &search--orange {      
      width: 150px;
      height: 35px;
      background: $primaryColor;
      line-height: 35px;
      color: $fontWhite;
      &:hover {
        background: $primaryHover;
      }
    }
  }
}
.btnarea__right {  
  text-align:right;
}
.btnarea__left {
  text-align:left;
}
.btnarea__center {
  text-align:center;
}


// checkbox
.input {
  display:inline-block;
  position:relative;
  height:15px;
  input[type='checkbox'],input[type='radio'] {
    position:absolute;
    width:1px;
    height:1px;
    border:0;
    -webkit-appearance:none;
    clip:rect(0,0,0,0);
  }
  input[type='checkbox']+label {
    display:inline-block;
    height:15px;
    line-height:24px;
    padding:0 0 0 15px;
    font-size:11px;
    background:url(../images/inp_checkbox.png) no-repeat left center;
    cursor:pointer;
  }
  input[type='checkbox']+label.ir {
    font-size:0px;
    text-indent:-9999em;
  }
  input[type='checkbox']:checked+label {
    background:url(../images/inp_checkbox_on.png) no-repeat left center;
  }
  input[type='checkbox']:disabled+label {
    background:url(../images/inp_checkbox_disable.png) no-repeat left center;
  }
  input[type='radio']+label {
    display:inline-block;
    height:22px;
    line-height:21px;
    padding:0 0 0 25px;
    font-size:14px;
    background:url(../images/inp_radiobox.png) no-repeat left center;
    cursor:pointer;
  }
  input[type='radio']:checked+label {
    background:url(../images/inp_radiobox_on.png) no-repeat left center;
  }
  input[type='radio']:disabled+label {
    background:url(../images/inp_radiobox_disable.png) no-repeat left center;
  }
}

// select
.input__select--small {
  position:relative;
  min-width:100px;
  height:25px;
  background:$ableColor;
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:100%;
    line-height:25px;
    margin:0;
    padding:0 5px;
    border:0;
    background:$ableColor;
    color:#ffffff;
    z-index:200;
    &::-ms-expand {
      display:none; /*IE10*/
    }
  }
  &:after {
    position:absolute;
    @include iconFont();
    content:'\e905';
    transform:rotate(90deg);
    color:#ffffff;
    right:10px;
    top:5px;
    font-size:10px;
  }
}

// 페이지네이션
.pagenation {
  width:100%;
  margin-top:8px;
  ul {
    text-align:center;
  }
  ul li {
    display:inline-block;
    vertical-align:middle;
    a {
      display:block;
      width:15px;
      height:15px;
      line-height:15px;
      color:$fontData;
      font-size:12px;
      &:hover {
        color:$fontWhite;
        font-weight:bold;
      }
      i {
        line-height:15px;
      }
    }
  }
  .pagenation__btn--current {
    color:$fontWhite;
    font-weight:bold;
  }
}

// 공통사용 클래스
.txr {
  text-align:right !important;
}
.txl {
  text-align:left !important;
}
.txc {
  text-align:center !important;
}
.ir {
  font-size: 0;
  text-indent: -9999em;
}
.mt5{ margin-top:5px !important; }
.mt10{ margin-top:10px !important; }
.mt25{ margin-top:25px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mt50{ margin-top:50px !important; }
.mt80{ margin-top:80px !important; }
.mt70{ margin-top:70px !important; }
.mt15{ margin-top:15px !important; }
.mt60{ margin-top:60px !important; }
.mt20{ margin-top:20px !important; }
.mr0{ margin-right:0px !important; }
.ml0{ margin-left:0px !important; }
.ml5{ margin-left:5px !important; }
.ml10{ margin-left:10px !important; }