$bgColor:#282828;
$areaColor:#303030;
$areaColor2:#313131;
$primaryColor:#f08933;
$secondaryColor:#249f87;
$warningColor:#ee165f;
$primaryHover:#f57637;
$headBackground:#232323;
$ableColor:#464646;
$disableColor:#2a2a2a;
//폰트관련
$titleColor:#989898;
$fontWhite:#ffffff;
$fontData:#8b8b8b;
//인풋
$selectColor:#b0b1b3;
$selectDisable:#575757;
$contHeight:calc(100vh - 60px);
$panelHeight:calc(100vh - 125px);

// 세로 2번 박스 높이 계산용
$secondBoxHeight:calc(100vh - 365px);
$secondInnerHeight:calc(100vh - 365px - 85px);
$centerWidth:calc(100% - 765px);
$centerContHeight:calc(100vh - 210px);
$thumbHeight:calc( (100vh - 210px) / 4);
$thumbnailHeight:calc( ( (100vh - 210px) / 4 ) - 30px); //아래방향 패딩 5px 추가

// 패널 닫혔을때 센터 크기
$leftClosedCenter: calc(100vw - 490px);
$rightClosedCenter: calc(100vw - 300px);
$bothClosedCenter: calc(100vw - 25px);
@mixin iconFont {
  font-family:'ecurations';
}
@mixin boxSizing {
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-sizing:border-box;
  box-sizing:border-box;
}
@mixin boxRound4 {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
@mixin transition {
  transition:all 0.3s ease-in-out 0.1s;
}
@mixin transition1 {
  transition:all 0.5s ease-in-out 0.01s;
}

// 기본 CSS를 작성합니다.
// 기본으로 작성되는 CSS는 1279px보다 큰 화면에서 작동 됩니다.
body {
  background:$bgColor;
  overflow-x:hidden;
}
#header {
  width:100%;
  height:60px;
  background:#1e1e1e;
}
.header {
  &__logo {
    width:180px;
    padding:9px 10px;
  }
}
#login {
  position:relative;
  width:100%;
  height:$contHeight;
  background:url('../images/login_bg.png');
  background-size:cover;
}
.logintext {
  position:absolute;
  left:20px;
  top:50%;
  transform:translate(0, -50%);
  width:60%;
  max-width:840px;
  transition:all 0.5s;
}
.loginbox {
  position:absolute;
  right:0;
  bottom:0;
  width:50%;
  max-width:730px;
  height:100%;
  padding-top:100px;
  background:#262626;
  &__area {
    width:500px;
    margin:0px auto 0;
  }
  &__simbol {
    margin-bottom:100px;
    text-align:center;
    color:#ffffff;
    font-size:38px;
    transition:all 0.5s;
    h2 {
      font-weight:normal;
    }
  }
  &__form {
    color:#ffffff;
    .box_login_ipt {
      margin-bottom:30px;
    }
    .i_label {
      display:block;
      margin-bottom:8px;
      font-size:17px;
      color:#ffffff;
    }
    input[type='text'],input[type='password'] {
      width:100%;
      height:45px;
      padding:0 10px;
      background:#313131;
      border-radius:5px;
      border:1px solid #727272;
      font-size:16px;
      line-height:45px;
      color:#ffffff;
    }
    .btn_login input {
      display:block;
      width:100%;
      height:55px;
      line-height:55px;
      border-radius:4px;
      background:#f57637;
      color:#ffffff;
      font-size:20px;
    }
  }
}
.top {
  position:relative;
  width:100%;
  height:45px;
  border-top:1px solid #363636;
  border-bottom:1px solid #363636;
  background:$areaColor;
  &__title {
    text-align:center;
    font-size:16px;
    line-height:45px;
    color:#ffffff;
  }
  &__user {
    position:absolute;
    right:10px;
    top:10px;
    font-size:15px;
    color:#b4b4b4;
    .message {
      float:left;
    }
    .btn__logout {
      display:inline-block;
      width:70px;
      height:25px;
      margin-left:8px;
      line-height:25px;
      border-radius:4px;
      border:1px solid #707070;
      text-align:center;
      font-size:12px;
      color:#707070;
      &:hover {
        background:#2a2a2a;
        color:#989898;
      }
    }
  }
}
#content {
  padding:10px;
  .boxmodel {
    padding:10px;
    h3 {
      margin-bottom:10px;
      font-size:18px;
      color:$titleColor;
    }
    .time {
      float:right;
      margin-top:8px;
      .btn__refresh {
        float:right;
        position:relative;
        width:15px;
        height:15px;
        margin-left:5px;
        &:before {
          position:absolute;
          top:0px;
          @include iconFont();
          content:'\e920';
          color:#565656;
        }
      }
    }
  }
  .left {
    position:absolute;
    top: 115px;
    left: 10px;
    width:275px;
    height:$panelHeight;
    padding-right:5px;
    background: $bgColor;
    z-index:300;    
    &__btn--close {
      position:absolute;
      right: -25px;
      top:50%;
      transform:translate(-50%, -50%);      
      width: 20px;
      height: 80px;   
      line-height: 70px;   
      padding: 5px;
      color:$areaColor;
      word-break: break-all;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background:-webkit-gradient(linear, 220% 20%, 20% 20%, from(#000000), to(#303030));
      z-index: 300;
      &:after {
        @include iconFont();
        content: '\e904';
        color:#ffffff;
        font-size: 11px;
      }    
    }
    &__btn--close.open {
      &:after {
        @include iconFont();
        content: '\e905';
        font-size: 11px;
      }
    }
    &__live {
      overflow:hidden;
      background:$areaColor2;
      margin-bottom:10px;
    }
    &__count {
      padding:10px;
      background:$headBackground;
      &--title {
        color:$fontWhite;
        font-size:15px;
      }
      &--number {
        text-align:right;
        color:$fontData;
        span {
          color:$primaryHover;
          font-size:22px;
          font-weight:bold;
        }
      }
    }
    .w50 {
      float:left;
      width:122px;
      margin-top:5px;
    }
    .fr {
      float:right;
    }
    &__status {
      overflow:hidden;
      height:$secondBoxHeight;
      background:$areaColor2;
      .status_wrap {
        height:$secondInnerHeight;
        overflow-y:auto;
      }
      .status {
        display:block;
        padding:9px;
        margin-bottom:5px;
        background:$headBackground;
        ul {
          overflow:hidden;
          display:block;
          width:100%;
        }
        ul li {
          float:left;
        }
        &__stars {
          float:left;
          width:11px;
          margin-right:10px;
          line-height:1;
          color:$warningColor;
        }
        &__title {
          float:left;
          line-height:42px;
          color:$fontWhite;
          font-size:15px;
        }
        &__number {
          float:right !important;
          line-height:42px;
          color:$fontData;
          span {
            font-size:18px;
            color:$primaryHover;
            font-weight:bold;
          }
        }
        &:hover {
          background:#f08933;
          color:#ffffff;
          .status__title {
            color:#2a2a2a;
            font-weight:bold;
          }
          .status__number {
            color:#2a2a2a;
            span {
              font-size:18px;
              color:$headBackground;
              font-weight:bold;
              color:#ffffff;
            }
          }
        }
      }
      .status.active {
        background:#f08933;
        color:#ffffff;
        .status__title {
          color:#2a2a2a;
          font-weight:bold;
        }
        .status__number {
          color:#1e1e1e;
          span {
            font-size:18px;
            color:$headBackground;
            font-weight:bold;
            color:#ffffff;
          }
        }
      }
    }    
  }  
  .center {
    position: absolute;
    top: 115px;
    left: 285px;
    width:$centerWidth;
    height:$panelHeight;
    padding-left:5px;
    padding-right:5px;
    transition: all 0.5s;
    .article {
      position:relative;;
      width:100%;
      height:100%;
      padding:10px;
      background:$areaColor;
      h3 {
        float:left;
        margin-bottom:10px;
        color:$titleColor;
        font-size:18px;
      }
      .datalist {
        clear:both;
        width:100%;
        height:$centerContHeight;
        overflow-y:auto;
        background:$bgColor;
        &__type {
          position:absolute;
          right:10px;
          top:0;
          &--list,&--thumb,&--map {
            display:inline-block;
          }
          &--map a {
            font-size:17px;
          }
          a {
            display:block;
            width:44px;
            height:44px;
            text-align:center;
            line-height:46px;
            color:#5a5a5a;
          }
          ul li.select a {
            color:#ffffff;
            background:$secondaryColor;
          }
        }
        // 리스트 보기 방식
        th,td {
          padding:8px;
          color:$fontData;
          font-weight:normal;
          font-size:12px;
          text-align:center;
          word-break:keep-all;
          border-bottom:1px solid #414141;
        }
        th {
          background:$headBackground;
          color:$fontWhite;
        }
        tr {
          &:hover td {
            background:$secondaryColor;
            color:$fontWhite;
          }
        }
        // 썸네일 보기방식 
        .itemlist>li {
          float:left;
          width:25%;
          height:$thumbHeight;
          padding-right:5px;
          padding-bottom:5px;
          &:nth-child(4n) {
            padding-right:0;
          }
          &:nth-child(n+13) {
            padding-bottom:0;
          }
          .item {
            display:block;
            width:100%;
            height:100%;            
            &__title {
              width:100%;
              height:25px;
              padding:6px;
              background:#000000;
              font-size:11px;
              color:#ffffff;
              transition: all 0.3s;
              &--name {
                float:left;
              }
              &--event {
                float:right;
              }
            }
            &__image {
              width:100%;
              height:$thumbnailHeight;
              border:3px solid #000000;
              transition: all 0.3s;
              img {
                width:100%;
                height:100%;
              }
            }
            &:hover {
              .item__title {
                background: $secondaryColor;
              }
              .item__image {
                border-color: $secondaryColor;
              }
            }
          }
          .importance2 {
            .item__title {
              width:100%;
              height:25px;
              padding:6px;
              background:#fc913a;
              font-size:11px;
              color:#ffffff;
              .item__title--name {
                float:left;
              }
              .item__title--event {
                float:right;
              }
            }
            .item__image {
              width:100%;
              border:3px solid #fc913a;
              img {
                width:100%;
                height:100%;
              }
            }
          }
          .importance3 {
            .item__title {
              width:100%;
              height:25px;
              padding:6px;
              background:#f94e3f;
              font-size:11px;
              color:#ffffff;              
              .item__title--name {
                float:left;
              }
              .item__title--event {
                float:right;
              }
            }
            .item__image {
              width:100%;
              border:3px solid #f94e3f;
              img {
                width:100%;
                height:100%;
              }
            }
          }
          .selected {
            .item__title {
              background: $secondaryColor;
            }
            .item__image {
              border-color: $secondaryColor;
            }
          }
        }
        // 지도 보기 방식
        .map {
          width: 100%;
          position: relative; 
          z-index: 1; 
          &__event {            
            position:absolute;
            left: 50%;
            top: 50%;
            width: 90px;
            height: 90px;
            border-radius: 90px; 
            background: rgba(235, 121, 25, 0.5);            
            z-index:200;
            text-align: center;
            line-height: 95px;
            letter-spacing: -2px;
            &--count {
              display: inline-block;
              width: 71px;
              height: 71px;
              font-size: 22px;
              line-height: 71px;
              color:#ffffff;
              border-radius: 71px;
              background: $primaryColor;
              opacity: 1 !important;
              z-index:201;
            }            
          }                
        }
      }
    }
  }
  .leftnone_center {
    position: absolute;
    top: 115px;
    left: 10px;
    width: $leftClosedCenter;
    transition:all 0.5s;
  }
  .rightnone_center {
    width: $rightClosedCenter;
    transition:all 0.5s;
  }
  .leftnone_center.rightnone_center {
    width: $bothClosedCenter;
    transition:all 0.5s;
  }
  .right {
    position:absolute;
    top: 115px;
    right: 10px;
    width:470px;
    height:$panelHeight;
    padding-left:5px;
    &__btn--close {
      position:absolute;
      left: -5px;
      top:50%;
      transform:translate(-50%, -50%);      
      width: 20px;
      height: 80px;   
      line-height: 70px;   
      padding: 5px;
      color:$areaColor;
      word-break: break-all;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background:-webkit-gradient(linear, 90% -200%, -200% -200%, from(#303030), to(#000000));
      z-index: 300;
      &:after {
        @include iconFont();
        content: '\e905';
        color:#ffffff;
        font-size: 11px;
      }    
    }
    &__btn--close.open {
      &:after {
        @include iconFont();
        content: '\e904';
        font-size: 11px;
      }
    }
    .detail {
      overflow-y:auto;
      background:$areaColor;
      width:100%;
      height:100%;
      padding:10px;
      h3 {
        float:left;
        margin-bottom:10px;
        color:$titleColor;
        font-size:18px;
      }
      .tinytable {
        clear: both;        
        background: $bgColor;
        min-height: 250px;  
        table {      
          th,td {
            padding:3px;            
            font-weight:normal;
            font-size:12px;
            color:#dfdfdf;
            text-align:center;
            word-break:keep-all;
            border-bottom:1px solid #414141;
          }
          th {
            background:$headBackground;
            color:$fontWhite;
          }
          tr {
            &:hover td {
              background:$secondaryColor;
              color:$fontWhite;
            }
          }
        }
      }
      .tinytable2 {
        clear: both;        
        background: $bgColor;
        min-height: 250px;  
        table {      
          th,td {
            padding:5px 5px;            
            font-weight:normal;
            font-size:12px;
            color:#dfdfdf;
            text-align:left;
            word-break:keep-all;
            border-bottom:1px solid #414141;
          }
          th {
            background:$headBackground;
            color:$fontWhite;
          }          
        }
      }
      .datalist {
        position:relative;
        clear:both;
        width:100%;
        overflow-y:auto;
        background:$bgColor;
        table {
          width:100%;
        }
        th,td {
          padding:8px;
          color:$fontData;
          font-weight:normal;
          font-size:12px;
          color:$fontWhite;
          text-align:left;
          word-break:keep-all;
          border-bottom:1px solid #414141;
        }
        th {
          background:$headBackground;
          color:$fontWhite;
        }       
      }
    }
  }
}
// 데스크탑 (가로 해상도가 1280px 보다 작은 화면에 적용)
@media (max-width: 1279px) {
  body {
    min-width:1024px;
  }
  .logintext {
    position:absolute;
    left:20px;
    top:50%;
    transform:translate(0, -50%);
    width:50%;
  }
  .loginbox {
    &__area {
      width:400px;
      margin:0px auto;
    }
    &__simbol {
      margin-bottom:100px;
      text-align:center;
      color:#ffffff;
      font-size:30px;
    }
  }
  .article {
    .datalist {
      width:100%;
      overflow-x:auto;
      table {
        width:650px;
      }
    }
  }
  .article {
    .datalist {
      .itemlist>li {
        .item {
          &__title {
            font-size:10px !important;
            &--event {
              display:none;              
            }
          }
        }
      }
    }
  }
} // max-width: 1279px